@{
    ViewData["Title"] = "Product";
}

    <div id="product-container">
        <h1 id="product-bannertext">Products</h1>
        <div id="top-product">
            <div id="product-one">

            </div>
            <h2 id="cobalt-info">
                C O B A L T
            </h2>
        </div>
        <br />
        <br />
        <br />

        <div id="product-two">

        </div>
        <br />
        <br />

        <p id="product-disclaimers">
            * All sales final
        </p>

    </div>





