@{
    ViewData["Title"] = "Product";
}

    <div id="product-container">
        <h1 id="product-bannertext">Products</h1>
        <div id="top-product">
            <div id="product-one">

            </div>
            <div id="cobalt-info">
                <h2 id="">
                    C O B A L T
                </h2>
                <h5>
                    Styling Pomade
                </h5>
                <br />
                <p id="">
                    This styling gel alternative is perfact for a classic <br /> slicked back look or modern control for all hair types.
                </p>
                <br />
                <br />
                <h3>
                    $19.99
                </h3>
                <button>
                    Buy Now
                </button>
            </div>
        </div>
        <br />



        <div id="bottom-product">
            <div id="product-two">

            </div>
            <div id="mercury-info">
                <h2 id="">
                    M E R C U R Y
                </h2>
                <h5>
                    Styling Gel
                </h5>
                <br />
                <p id="">
                    This styling gel gives the hold you need <br /> without the flakes or helmet hair. 
                </p>
                <br />
                <br />
                <h3>
                    $17.99
                </h3>
                <button>
                    Buy Now
                </button>
            </div>
        </div>
    </div>
    
    <p id="product-disclaimers">
        * All sales final
    </p>





