@{
    ViewData["Title"] = "Barbers at Bourbons";
}

    <div id="talenthtml">
        <h1 id="talent-bannertext">Bourbons Barbers</h1>
        <div id="firstbarber">
            <div id="firstbarber-image">

            </div>
            <div id="firstbarber-info">
                <h2 id="">
                    C A L E B
                </h2>
                <h5>
                    Barber
                </h5>
                <br />
                <p id="">
                    Caleb has been a barber in the greater New York area <br /> for 7 years. Talented, attention to detail, and charasmatic. <br />
                    Our most requested barber, make an appointment with him today.
                </p>
                <br />
                <br />
                <h3>
                    CALL/TEXT TO BOOK 564-789-4564
                </h3>
            </div>

            <div id="secondbarber">
                <div id="secondbarber-image">

                </div>
                <div id="secondbarber-info">
                    <h2 id="">
                        S T A C Y
                    </h2>
                    <h5>
                        Barber
                    </h5>
                    <br />
                    <p id="">
                        Stacy started her career working for celebrities in<br /> the bay area. She knows a good haircut and it shows. <br />
                        Come get cut by Stacy today.
                    </p>
                    <br />
                    <br />
                    <h3>
                        CALL/TEXT TO BOOK 405-555-8000
                    </h3>
                </div>

                <div id="thirdbarber">
                    <div id="thirdbarber-image">

                    </div>
                    <div id="thirdbarber-info">
                        <h2 id="">
                            M A R C O
                        </h2>
                        <h5>
                            Barber
                        </h5>
                        <br />
                        <p id="">
                            Marco has been working for Bourbons for 5 years. <br /> He is experienced and books for the month <br />
                            within the first week. Make an appointment today.
                        </p>
                        <br />
                        <br />
                        <h3>
                            CALL/TEXT TO BOOK 654-565-8787
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>