@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">B O U R B O N S</h1>
    <p></p>
    
</div>
<br />
<br />

<div class="homeImage" id="homeImage">
    <img src="~/Images/IMG1.jpg" alt="Alternate Text" />
</div>

