@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">B O U R B O N S</h1>
    <p></p>
    
</div>

<br />
<br />

<div class="homeImage" id="homeImage">
    <img src="~/Images/IMG1.jpg" alt="Alternate Text" />
</div>

<br />
<br />

<p class="page-item" id="paragraph-one"> STYLE | <span class="create">CREATE</span> | CONNECT</p>

<br />
<br />

<div>
    <p>
        We are commited to delivering a personalized experience to every client that walks through our doors.
    </p>
</div>

